/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

#ipython_notebook img{
    display:block;
    background: url(logo.png) no-repeat;
    background-size: contain;
    width: 150px;
    height: 28px;
    padding-left: 150px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.CodeMirror pre {   /* area of code cell */
	font-family: "Source Code Pro", monospace;
}

.output_text > pre {  /* pre formatted area in output of code cell */
	font-family: "Source Code Pro", monospace;
}

.text_cell pre, .text_cell code {      /* pre formatted area in markdown cell */
        font-family: "Source Code Pro", monospace;
}

.terminal {
        font-family: "Source Code Pro", monospace !important;
}

.text_cell {
	font-family: Georgia, YuMincho, '游明朝', serif;
}


h1 {
    font-family: Meiryo, sans-serif;
}

h2 {
    font-family: Verdana, YuGothic, '游ゴシック', sans-serif;
}

h3 {
    font-family: Verdana, YuGothic, '游ゴシック', sans-serif;
}

.output_area .ui-tabs-anchor {
    font-size: 0.6em;
}

.output_area .output_subarea {
	border: none;
	max-width: none;
}

.output_area .ui-tabs-nav {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background: transparent;
}

.output_area .ui-tabs-nav button.ui-button-icon-only {
	border: none;
	background: transparent;
}

.output_area li.ui-state-default {
	background: #CCC !important;
}

.output_area li.ui-state-default a {
	color: #AAA;
}

.output_area li.ui-state-active {
	background: white !important;
}

.output_area li.ui-state-active a {
	color: black;
}

.text_cell em {
	font-family: Verdana, YuGothic, '游ゴシック', sans-serif;
}

.text_cell strong {
	font-family: Verdana, YuGothic, '游ゴシック', sans-serif;
}
